<div class="card">
    <h2>{{ "home.others.upcomingEvents.title" | translate }}<br /></h2>
    <div class="event" *ngFor="let event of eventService.events">
        <div>
            <svg>
                <use xlink:href="assets/img/icons.svg#date"></use>
            </svg>
            {{ event.date.valueOf() | date: "longDate" }} {{ event.name }}
        </div>
        <div>
            <svg>
                <use xlink:href="assets/img/icons.svg#info"></use>
            </svg>
            {{ event.descriptionLong }}
        </div>
    </div>
    <div *ngIf="eventService.events.length <= 0" class="event">
        <div>
            <svg>
                <use xlink:href="assets/img/icons.svg#info"></use>
            </svg>
            {{ "home.others.upcomingEvents.nothing" | translate }}
        </div>
    </div>
</div>
<div class="card">
    <h2>Mattley ({{ "home.others.legalNotice.title" | translate }})<br /></h2>
    <h3>{{ "home.others.legalNotice.representedBy" | translate }}</h3>
    <p>Matthias Schmid <br /></p>
    <h3>{{ "home.others.legalNotice.postalAddress" | translate }}</h3>
    <p>
        Lindenstraße 6<br />
        89155 Erbach
    </p>
    <h3>{{ "home.others.legalNotice.contact" | translate }}</h3>
    <p>{{ "home.others.legalNotice.email" | translate }}: contact@mattleymusic.de</p>
</div>
