@import "vars";

:host {
    width: 100%;
    height: 100%;
    display: flex;
}

.card {
    flex: 1 1 auto;
    padding: $spacing-32;
    margin-right: $spacing-32;
    overflow: auto;

    &:last-child {
        margin-right: 0;
    }

    h3,
    p {
        margin-top: $spacing-16;
        margin-bottom: $spacing-8;
        color: $white;
    }

    h3 {
        font-size: 1rem;
        text-transform: uppercase;
    }

    h2 {
        color: $white;
        margin-bottom: $spacing-24;
    }

    .email-link {
        color: white;
        text-decoration: underline;
    }
}

@media only screen and (max-width: 1000px) {
    :host {
        flex-direction: column;
    }

    .card {
        width: 100%;
        max-width: 100%;
        margin-right: 0;
        margin-bottom: $spacing-32;

        &:last-child {
            margin-bottom: 0;
        }
    }
}
