@import "vars";

:host {
    width: 100%;
    height: 100%;
    display: flex;
}

.card {
    flex: 1 1 auto;
    padding: $spacing-32;
    margin-right: $spacing-32;
    overflow: auto;

    &:last-child {
        margin-right: 0;
    }

    .bottom-wrapper {
        position: absolute;
        bottom: 40px;
    }
}

h3, p {
    margin-top: $spacing-8;
    margin-bottom: $spacing-8;
    color: $white;
}

h2 {
    font-size: 40px;
    color: $white;
}

@media only screen and (max-width: 1000px) {
    :host {
        flex-direction: column;
    }

    .card {
        margin-right: 0;
        margin-bottom: $spacing-32;

        &:last-child {
            margin-bottom: 0;
        }
    }
}
