<div class="spotify-glider glide">
    <div class="glide__track" data-glide-el="track">
        <ul class="glide__slides playlists">
            <div class="playlist" *ngFor="let playlist of playlists">
                <iframe
                    [src]="getSpotifyLink(playlist) | safe"
                    frameBorder="0"
                    allowfullscreen=""
                    allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
                ></iframe>
            </div>
        </ul>
    </div>
    <div class="glide__arrows" data-glide-el="controls">
        <button class="glide__arrow glide__arrow--left" data-glide-dir="<"><</button>
        <button class="glide__arrow glide__arrow--right" data-glide-dir=">">></button>
    </div>
    <div class="glide__bullets" data-glide-el="controls[nav]">
        <button
            *ngFor="let _ of playlists; let i = index"
            class="glide__bullet"
            [attr.data-glide-dir]="'=' + i"
        ></button>
    </div>
</div>
