
<section id="legal-notice">
    <app-section-header text="legalNotice.title"></app-section-header>
    <div class="section-content">
        <h2>MATTLEY<br /></h2>
        <h3>{{ "legalNotice.representedBy" | translate }}</h3>
        <p>
            Matthias Schmid <br />
        </p>
        <h3>{{ "legalNotice.postalAddress" | translate }}</h3>
        <p>
            Lindenstraße 6<br />
            89155 Erbach
        </p>
        <h3>{{ "legalNotice.contact" | translate }}</h3>
        <p>
            {{ "legalNotice.email" | translate }}: contact@mattleymusic.de
        </p>
        <app-button class="button" text="legalNotice.back" color="purple" routerLink="/home"></app-button>
    </div>
</section>
