@import "src/styles/vars";

.section-header {
    height: 100%;
    width: 1px;
    display: flex;
    flex-direction: column;

    h4 {
        writing-mode: vertical-rl;
        transform: rotate(180deg);
        margin-left: -6px;
        margin-top: $spacing-4;
        margin-bottom: $spacing-8;
    }

    .tail {
        display: flex;
        flex-direction: column;
        flex: 1 1 auto;
    }

    .line {
        flex: 1 1 auto;
        width: 1px;
    }
}

.section-header-purple {
    h1 {
        color: $purple;
    }

    .line {
        background: $black;
    }
}

.section-header-white {
    h1 {
        color: $white;
    }

    h4 {
        color: $white;
    }

    .line {
        background: $white;
    }
}

@media only screen and (max-width: $width-2) {
    .section-header {
        height: auto;
        width: 100%;

        h4 {
            writing-mode: unset;
            transform: none;
            margin-top: $spacing-8;
            margin-bottom: 0;
            align-self: flex-end;
        }

        .tail {
            align-items: center;
            flex: 0 0 auto;
            flex-direction: column-reverse;
        }

        .line {
            width: 100%;
            height: 1px;
        }
    }
}
