<!-- Center image -->
<img src="assets/img/about.png" alt="Mattley" />

<!-- Middle line (only visible for width-2) -->
<div class="middle-line"></div>

<!-- The mind map -->
<div class="about-map">
    <!-- Left side -->
    <div>
        <app-about-info [height]="130" description="{{ 'home.about.music' | translate }}">
            <h3>{{ "home.about.what" | translate }}</h3>
        </app-about-info>
        <app-about-info [height]="-130" description="{{ 'home.about.musicNot' | translate }}">
            <h3>{{ "home.about.whatNot" | translate }}</h3>
        </app-about-info>
    </div>

    <!-- Right side -->
    <div>
        <app-about-info [right]="true" [height]="100" description="{{ 'home.about.ulm' | translate }}">
            <h3>{{ "home.about.location" | translate }}</h3>
        </app-about-info>
        <app-about-info [right]="true" [height]="20" description="{{ 'home.about.matze' | translate: { age } }}">
            <h3>{{ "home.about.whoAmI" | translate }}</h3>
        </app-about-info>
        <app-about-info [right]="true" [height]="-150" description="{{ 'home.about.socials' | translate }}">
            <div class="socials">
                <a href="https://www.instagram.com/mattleymusic/" target="_blank">
                    <svg>
                        <use class="instagram" xlink:href="assets/img/icons.svg#instagram"></use>
                    </svg>
                </a>
                <a href="https://www.youtube.com/channel/UCg3I-WMBf9B-esRndLKx17g" target="_blank">
                    <svg>
                        <use class="youtube" xlink:href="assets/img/icons.svg#youtube"></use>
                    </svg>
                </a>
                <a href="https://soundcloud.com/mattleydj" target="_blank">
                    <svg class="soundcloud-svg">
                        <use class="soundcloud" xlink:href="assets/img/icons.svg#soundcloud"></use>
                    </svg>
                </a>
                <a href="https://www.twitch.tv/mattleymusic" target="_blank">
                    <svg>
                        <use class="twitch" xlink:href="assets/img/icons.svg#twitch"></use>
                    </svg>
                </a>
            </div>
        </app-about-info>
    </div>
</div>
