@import "vars";

:host {
    display: flex;
}

.button {
    outline: none;
    border: none;
    display: flex;
    padding: $spacing-8 $spacing-24;
    text-transform: uppercase;
    text-decoration: none;
    color: $white;
    cursor: pointer;

    &.blue {
        background: $blue;
    }

    &.purple {
        background: $purple;
    }

    &.white {
        color: $purple;
        background: $white;
    }
}

@media only screen and (max-width: $width-3) {
    .button {
        font-size: 18px;
        font-weight: 600;
    }
}
