<div id="image-preview-{{ image }}" class="preview" *ngFor="let image of images">
    <img
        draggable="false"
        alt="img{{ image }}"
        class="img-responsive"
        src="assets/img/gallery/small/{{ image }}.jpg"
        (click)="selectedImage.next(image)"
    />
</div>
<div id="video-preview" class="preview">
    <video
        id="video-player"
        loop
        (loadeddata)="collectVideoPlayer()"
        (click)="selectedImage.next(video)"
        [muted]="'muted'"
    >
        <source src="assets/img/gallery/video.mp4" type="video/mp4" />
    </video>
</div>
<div *ngIf="selectedImage.value !== noSelection" class="image-overlay">
    <img
        class="fullscreen-content"
        *ngIf="selectedImage.value >= 0"
        draggable="false"
        src="assets/img/gallery/{{ selectedImage.value }}.jpg"
        alt="Big Image"
    />
    <video class="fullscreen-content" *ngIf="selectedImage.value === video" autoplay loop controls>
        <source src="assets/img/gallery/video.mp4" type="video/mp4" />
    </video>
    <span class="fullscreen-close" (click)="selectedImage.next(noSelection)">X</span>
</div>
