<div id="image-preview-{{ image }}" class="preview" *ngFor="let image of images">
    <img
        draggable="false"
        alt="img{{ image }}"
        class="img-responsive"
        src="assets/img/gallery/small/{{ image }}.jpg"
        (click)="openGallery(image)"
    />
</div>
<div id="video-preview" class="preview">
    <video
        id="preview-video-player"
        loop
        (loadeddata)="preparePreviewVideo()"
        (click)="openGallery(video)"
        [muted]="'muted'"
    >
        <source src="assets/img/gallery/video.mp4" type="video/mp4" />
    </video>
</div>
<div [style.display]="$showFullscreen.value ? 'block' : 'none'" class="image-overlay">
    <div class="gallery-glider glide">
        <div class="glide__track" data-glide-el="track">
            <ul class="glide__slides images">
                <img
                    *ngFor="let image of images"
                    draggable="false"
                    src="assets/img/gallery/{{ image }}.jpg"
                    alt="Big Image"
                />
                <video  id="big-video-player" controls>
                    <source src="assets/img/gallery/video.mp4" type="video/mp4" />
                </video>
            </ul>
        </div>
        <div class="glide__arrows" data-glide-el="controls">
            <button class="glide__arrow glide__arrow--left" data-glide-dir="<"><</button>
            <button class="glide__arrow glide__arrow--right" data-glide-dir=">">></button>
        </div>
        <div class="glide__bullets" data-glide-el="controls[nav]">
            <button
                *ngFor="let _ of images; let i = index"
                class="glide__bullet"
                [attr.data-glide-dir]="'=' + i"
            ></button>
            <button class="glide__bullet" [attr.data-glide-dir]="'=' + video"></button>
        </div>
    </div>
    <span class="fullscreen-close" (click)="$showFullscreen.next(false)">X</span>
</div>
