@import "vars";

:host {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    grid-template-rows: repeat(2, minmax(0, 1fr));
    height: 100%;
    width: 100%;
    margin: -$spacing-8;
    gap: $spacing-16;

    .preview {
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;

        &:hover {
            img {
                width: 120%;
                height: 120%;
            }
        }
    }

    div,
    img {
        transition: all 300ms;
        height: 100%;
        width: 100%;
        min-width: 0;
        object-fit: cover;
        cursor: pointer;
    }
}

.image-overlay {
    position: fixed;
    background: $black;
    z-index: 1000;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}
