@import "vars";

:host {
    display: block;
}

.section-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.background {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    object-fit: cover;

    filter: grayscale(0);
    animation: backgroundAnimation 2000ms ease-in-out forwards;
}

@keyframes backgroundAnimation {
    100% {
        filter: grayscale(0.9);
    }
}

.container {
    position: absolute;
    top: $spacing-48;
    right: var(--dynamic-vertical-spacing);
    display: flex;
    align-items: center;
}

@media only screen and (max-width: $width-2) {
    .background {
    }
}

.loadingSpinner {
    transform: rotate(90deg);

    height: 7rem;
    animation: loadingSpinnerAnimation 1600ms ease-in-out forwards;
    animation-delay: 400ms;
}

@keyframes loadingSpinnerAnimation {
    100% {
        transform: rotate(810deg);
    }
}

.logo-text {
    height: 20px;
    margin-right: 25px;
    animation: textAnimation 400ms ease-out forwards;
    animation-delay: 1800ms;
}

@keyframes textAnimation {
    100% {
        margin-right: -25px;
    }
}

#intro {
    height: 100vh;
    animation: introAnimation 1600ms ease-in-out forwards;
    animation-delay: 700ms;
    padding: 0;
}

@keyframes introAnimation {
    100% {
        height: 0;
    }
}

#events {
    min-height: 100vh;
    height: auto;

    .events-content {
        align-items: flex-start;
    }
}

#about {
    background: $white;
    cursor: pointer;
}

#youtube {
    background: $purple;

    iframe {
        border: none;
        height: 100%;
        flex: 1 1 auto;
        min-height: 35vh;
    }
}

#clothes {
    background: $white;
    height: 100vh !important;

    .section-content {
        overflow: hidden;
    }
}

#gallery {
    background: $blue;
}

#spotify {
    background: $white;

    .section-content {
        overflow: hidden;
    }
}

#others {
    background: $purple;
}

@media only screen and (max-width: $width-3) {
    .logo {
        height: 10rem;
    }

    .events-header {
        margin-top: 8rem;
    }

    .container {
        position: absolute;
        top: $spacing-64;
        left: 50%;
        transform: translateX(-50%);
        right: 0;
    }

    .loadingSpinner {
        transform: rotate(90deg);
        height: 5rem;
        animation: loadingSpinnerAnimation 1600ms ease-in-out forwards;
        animation-delay: 400ms;
    }

    @keyframes loadingSpinnerAnimation {
        100% {
            transform: rotate(810deg);
        }
    }

    .logo-text {
        height: 18px;
        margin-right: 16px;
        animation: textAnimation 400ms ease-out forwards;
        animation-delay: 1800ms;
    }

    @keyframes textAnimation {
        100% {
            margin-right: -10px;
            margin-left: 10px;
        }
    }
}
