@import "vars";

:host {
    display: block;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: scroll;
}

section {
    padding: $spacing-64;
    width: 100%;
    height: 100%;
}

.section-content {
    flex: 1 1 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: $spacing-128 $spacing-64 $spacing-64 $spacing-128;
}

#intro {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .row {
        justify-content: space-between;
    }

    .logo {
        height: 5rem;
    }

    .menu {
        display: flex;
        flex-direction: column;
        align-items: flex-end;

        a {
            user-select: none;
            text-decoration: none;
            font-weight: 600;
            font-size: $h3;
            color: $white;
            cursor: pointer;
            margin-bottom: $spacing-16;
        }
    }

    .background {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        object-fit: cover;
    }

    .news-spinner {
        position: absolute;
        width: 14rem;
        height: 14rem;
        right: $spacing-64;
        bottom: -7rem;
        z-index: 10;
    }
}

#about {
    display: flex;
}

#youtube {
    background: $purple;
    display: flex;

        iframe {
            border: 1px solid $white;
            height: 100%;
            flex: 1 1 auto;
    }
}

#gallery {
    background: $blue;
}

@media only screen and (max-width: $width-1) {
    section {
        padding: $spacing-48;
    }

    .section-content {
        padding: $spacing-96 $spacing-48 $spacing-48 $spacing-96;
    }

    #intro {
        .news-spinner {
            right: $spacing-48;
        }
    }
}

@media only screen and (max-width: $width-2) {
    section {
        padding: $spacing-64 $spacing-48;
        flex-direction: column;
        height: auto;
    }

    .section-content {
        padding: $spacing-32 0;
    }

    .youtube {
        iframe {
            height: 50vw;
        }
    }

    #intro {
        .news-spinner {
            right: $spacing-32;
            bottom: $spacing-32;
        }
    }
}

@media only screen and (max-width: $width-3) {
    section {
        padding: $spacing-48 $spacing-32;
    }

    .section-content {
        padding: $spacing-24 0;
    }

    #intro {
        .logo {
            height: 8rem;
            margin-top: $spacing-96;
        }

        .row {
            justify-content: center;
        }

        .menu {
            display: none;
        }

        .news-spinner {
            width: 12rem;
            height: 12rem;
            right: $spacing-24;
            bottom: $spacing-24;
        }
    }
}
