<img class="background" src="assets/img/intro.jpeg" alt="Intro" />
<img class="print-background" src="assets/img/intro.jpeg" alt="Intro-print" />

<div class="container">
    <img class="logo-text" src="assets/img/mattley.svg" alt="Logo-text" />
    <img class="loadingSpinner" src="assets/img/loading-spinner.svg" alt="Logo" />
</div>

<section id="intro"></section>

<!-- Events -->
<section id="events">
    <app-section-header class="events-header" text="home.events.title" color="white"></app-section-header>

    <div class="section-content events-content">
        <app-events (scrollToEvents)="scrollTo('events', 'auto')"></app-events>
    </div>
</section>

<!-- About me -->
<section id="about">
    <app-section-header text="home.about.title"></app-section-header>
    <div class="section-content">
        <app-about></app-about>
    </div>
</section>

<!-- Youtube -->
<section id="youtube">
    <app-section-header text="home.youtube.title" color="white"></app-section-header>
    <div class="section-content">
        <iframe
            [src]="contentService.content['youtube'] | safe"
            title="In The Mix"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
        ></iframe>
    </div>
</section>

<!-- Clothes -->
<section id="clothes">
    <app-section-header text="home.clothes.title" color="blue"></app-section-header>
    <div class="section-content">
        <app-clothes></app-clothes>
    </div>
</section>

<!-- Gallery -->
<section id="gallery">
    <app-section-header text="home.gallery.title" color="white"></app-section-header>
    <div class="section-content">
        <app-gallery></app-gallery>
    </div>
</section>

<!-- Spotify -->
<section id="spotify">
    <app-section-header text="home.spotify.title" color="purple"></app-section-header>
    <div class="section-content">
        <app-spotify></app-spotify>
    </div>
</section>

<!-- Others -->
<section id="others">
    <app-section-header text="home.others.title" color="white"></app-section-header>
    <div class="section-content">
        <app-others></app-others>
    </div>
</section>
