@import "vars";

:host {
    display: block;
}

.section-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

#intro {
    height: 100vh;
    flex-direction: column;
    justify-content: space-between;

    .row {
        justify-content: space-between;
    }

    .logo {
        height: 5.5rem;
    }

    .burger-menu {
        cursor: pointer;
        top: 40px;
        right: 40px;
        transition: transform 0.7s ease;
    }

    .burger-flipped {
        transform: rotate(90deg);
    }

    .burger-line {
        width: 30px;
        height: 5px;
        background-color: #fff; /* Change color to white */
        margin: 5px 0;
    }

    .menu-wrapper-wrapper {
        display: flex;
        align-items: flex-end;
        flex-direction: column;
        gap: 1rem;
    }

    .menu-wrapper {
        overflow: hidden; /* Hide the text outside the region of the div */
    }

    .menu {
        display: flex;
        flex-direction: column;
        text-align: right;
    }

    .menu a {
        user-select: none;
        text-decoration: none;
        font-weight: 600;
        font-size: $h3;
        color: $white;
        cursor: pointer;
        margin-bottom: $spacing-16;
    }

    .background {
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        object-fit: cover;
    }
}

#events {
    min-height: 100vh;
    height: auto;

    .news-spinner {
        display: flex;
        position: absolute;
        right: 0;
        padding-right: inherit;
        top: -7rem;
        z-index: 10;

        & > * {
            width: 14rem;
            height: 14rem;
        }
    }
}

#about {
    background: $white;
    cursor: pointer;

    .news-spinner {
        display: flex;
        position: absolute;
        right: 0;
        padding-right: inherit;
        top: -7rem;
        z-index: 10;

        & > * {
            width: 14rem;
            height: 14rem;
        }
    }
}

#youtube {
    background: $purple;

    iframe {
        border: none;
        height: 100%;
        flex: 1 1 auto;
        min-height: 35vh;
    }
}

#clothes {
    background: $white;
    height: 100vh !important;

    .section-content {
        overflow: hidden;
    }
}

#gallery {
    background: $blue;
}

#spotify {
    background: $white;

    .section-content {
        overflow: hidden;
    }
}

#others {
    background: $purple;
}

@media only screen and (max-width: $width-2) {
    #about {
        .news-spinner {
            top: calc(-12rem - $spacing-24);

            & > * {
                width: 12rem;
                height: 12rem;
            }
        }
    }
}

@media only screen and (max-width: $width-3) {
    #intro {
        .logo {
            height: 8rem;
            margin-top: $spacing-96;
        }

        .row {
            justify-content: center;
        }

        .menu {
            display: none;
        }
    }
}
