<!-- The intro -->
<section class="intro">
    <img class="background" src="assets/img/intro.jpg" alt="Intro" />
    <img class="logo" src="assets/img/logo.svg" alt="Logo" />
</section>

<!-- About me -->
<section class="about">
    <app-section-header text="home.about.title"></app-section-header>
    <div class="section-content">
        <app-about></app-about>
    </div>
</section>

<!-- Youtube -->
<section class="youtube">
    <app-section-header text="home.youtube.title" color="white"></app-section-header>
    <div class="section-content">
        <iframe src="https://www.youtube.com/embed/ixrB924BGvc"> </iframe>
    </div>
</section>

<!-- Clothes -->
<section class="clothes">
    <app-section-header text="home.clothes.title"></app-section-header>
</section>
