<svg id="news-spinner" viewBox="0 0 250 250">
    <circle fill="white" r="122" cx="125" cy="125" opacity="1" stroke="black" stroke-width="2"/>
    <circle fill="black" r="10" cx="125" cy="125" />
    <path id="textCircle" fill="none" d="M 125, 125 m -90, 0 a 90,90 0 1,1 180,0 a 90,90 0 1,1 -180,0" />
    <text fill="black">
        <textPath startOffset="5%" text-anchor="middle" xlink:href="#textCircle">+++</textPath>
        <textPath startOffset="30%" text-anchor="middle" xlink:href="#textCircle">UPCOMING EVENTS</textPath>
        <textPath startOffset="55%" text-anchor="middle" xlink:href="#textCircle">+++</textPath>
        <textPath startOffset="80%" text-anchor="middle" xlink:href="#textCircle">UPCOMING EVENTS</textPath>
    </text>
</svg>
