// The colors
$purple: #7833ba;
$white: #ffffff;
$black: #000000;
$font-color: $black;

// Text sizes
$h1: 2rem;
$h2: 1.6rem;
$h3: 1.3rem;
$h4: 1rem;
$text: 1.1rem;
$small: 0.8rem;

// Spacings
$spacing-128: 8rem;
$spacing-96: 6rem;
$spacing-64: 4rem;
$spacing-48: 3rem;
$spacing-32: 2rem;
$spacing-24: 1.5rem;
$spacing-16: 1rem;
$spacing-8: 0.5rem;
$spacing-4: 0.25rem;

// Breakpoints
$width-1: 1200px;
$width-2: 760px;
$width-3: 450px;
