// The colors
$purple: #a247db;
$blue: #4c99c0;
$white: #ffffff;
$black: #000000;
$font-color: $black;

// Text sizes
$h1: 2rem;
$h2: 1.6rem;
$h3: 1.3rem;
$h4: 1rem;
$text: 1.1rem;
$small: 0.8rem;

// Spacings
$spacing-128: 8rem;
$spacing-96: 6rem;
$spacing-64: 4rem;
$spacing-48: 3rem;
$spacing-32: 2rem;
$spacing-24: 1.5rem;
$spacing-16: 1rem;
$spacing-12: 0.75rem;
$spacing-8: 0.5rem;
$spacing-4: 0.25rem;

// Breakpoints
$width-1: 1400px;
$height-1: 1000px;
$width-2: 960px;
$width-3: 450px;
$shrink-offset: 200px;

// Others
$dot-size: 5px;

// Dynamic variables
:root {
    --calculated-vertical-spacing: calc((100vw - 177vh) / 2);
    --dynamic-vertical-spacing: max(4rem, var(--calculated-vertical-spacing));
}

@media only screen and (max-height: $height-1) {
    :root {
        --dynamic-vertical-spacing: max(4rem, var(--calculated-vertical-spacing));
    }
}
